@model IEnumerable<GameOfThrones.Models.Character>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Characters";
}

<h2>Characters</h2>

@if (Model.Count() == 0)
{
    <p>No characters were found, please try a different house</p>
}
else
{
    foreach (var character in Model)
    {
        <p>@Html.DisplayFor(field => character.FirstName) @Html.DisplayFor(field => character.LastName) - Alive: @Html.DisplayFor(field => character.Alive)</p>
    }
}

